/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width:575px) {
    .most-top-info-wrapper .top-social-icon-list {
        display: none;
    }

    .most-top-info-wrapper ul {
        text-align: center;
    }

    .most-top-info-wrapper ul li {
        font-size: 14px !important;
    }

    .most-top-info-wrapper ul li:after {
        display: none;
    }

    .most-top-info-wrapper ul li:last-child {
        padding-top: 0;
        padding-bottom: 10px;
    }

    section .section-title {
        margin-bottom: 28px;
        margin-top: 40px;
    }

    .portfolio .m-t-0 {
        margin-top: 25px !important;
    }

    .get-a-touch-modal .modal-content .float-left {
        float: none;
        width: 100%;
        padding: 20px;
    }

    .get-a-touch-modal .modal-content .float-left p {
        font-size: 14px;
        margin-top: 10px;
        color: #6e6e6e;
    }

    .contact-info-modal {
        margin-top: 20px;
    }

    .get-a-touch-modal .green-bg::before {
        display: none;
    }

    .get-a-touch-modal .green-bg {
        min-height: 220px;
    }

    .our-team-image-wrapper .image-1 {
        max-width: 260px !important;
    }

    .blog-soical-link li span {
        line-height: 27px;
        font-size: 11px;
        height: 25px;
        width: 25px;
    }

    .blog-soical-link li {
        font-size: 12px;
        padding: 6px;
    }

    .blog-soical-link li a {
        font-size: 11px;
    }

    .service-details-container .btn-wrapper .btn {
        padding: 10px 12px;
    }

    .modal-dialog {
        width: 95%;
    }

    .protfolio-modal .carousel-item {
        min-height: 295px;
    }

    .modal-dialog button.close {
        top: -10px !important;
    }

    .caption-content-wrapper .btn-wrapper .btn {
        padding: 10px 18px;
    }

    .latest-blog-section.blog-details-content h1 {
        font-size: 26px !important;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width:767px) {
    .most-top-info-wrapper ul li {
        font-size: 12px;
    }

    .carousel-caption h1 {
        font-size: 26px;
    }

    .carousel-control-next, .carousel-control-prev {
        display: none;
    }

    .carousel-caption h1 br {
        display: none;
    }

    .navbar-nav {
        float: none;
    }

    header .top-navbar .navbar-nav > li > a.btn {
        margin-left: 15px;
    }

    .section-title {
        margin-bottom: 37px;
        margin-top: 55px;
    }

    .green-box-wrapper .float-left {
        width: 100%;
        padding: 40px;
    }

    .green-box-wrapper p {
        margin: 13px auto 19px;
        max-width: 450px;
    }

    .section-title .sub-title br {
        display: none;
    }

    .section-title .title-bold {
        line-height: 32px;
    }

    .seo-audit-section .input-group {
        margin-bottom: 20px;
    }

    .our-team-image-wrapper {
        margin-top: 48px;
        min-height: 230px;
        margin-bottom: 60px;
    }

    .vertical-center-modal::before {
        height: auto;
    }

    .protfolio-modal .row {
        margin-left: -10px;
    }

    .pro-modal-content {
        margin-top: 20px;
    }

    .paralaxbg [class^="icon-"] {
        margin-top: 20px;
    }

    .our-team-image-wrapper .image-3 {
        right: 65px;
        top: 40px;
    }

    .blog-wrapper img {
        margin-top: 20px;
    }

    footer, .our-team-section {
        text-align: center;
    }

    .our-team-image-wrapper img {
        position: static;
        display: block;
        margin: 10px auto;
    }

    .our-team-image-wrapper {
        margin-bottom: 0;
    }

    .get-a-touch-modal .modal-dialog {
        min-width: 200px;
    }

    .modal-dialog button.close {
        right: -10px;
        top: -17px;
    }

    .contact-us-section .seo-audit-section {
        margin-top: 30px;
    }

    .latest-blog-section.blog-details-content h1 {
        font-size: 28px;
    }

    .service-details-content, .go-to-content-wrapper {
        margin-top: 35px;
    }

    .service-details-content .btn-wrapper {
        margin-bottom: 30px;
    }

    .service-details-content p {
        margin-top: 32px;
    }

    .banner-text h2 {
        font-size: 20px;
    }

    .banner-text p {
        font-size: 15px;
    }

    .service-details-content h3, .start-project h3 {
        font-size: 20px;
    }

    .start-project p br {
        display: none;
    }

    .service-process-wrapper {
        margin-bottom: 44px;
    }

    .start-project {
        margin-top: 40px;
    }

    .start-project {
        padding: 37px 0 40px 0;
    }

    .portfolio .m-t-0 {
        margin-top: 9px;
    }

    .portfolio.featured-project-wrapper {
        margin-bottom: 18px;
    }

    .bottom-link-page {
        margin-top: 0;
    }

    .go-to-content-wrapper .link {
        margin-bottom: 0;
    }

    .service-details-content {
        padding-top: 0;
    }

    .service-details-content h3 {
        line-height: 28px;
    }

    .price-table {
        margin-bottom: 30px;
    }

    .client-logo-wrapper {
        padding: 40px 15px;
    }

    .portfolio, .latest-blog-section {
        margin-bottom: 60px;
    }

    .price-table {
        margin-bottom: 20px;
    }

    .seo-audit-section {
        margin-top: 60px;
        padding: 36px 0 20px 0;
    }

    .price-table-wrapper {
        margin-bottom: 0;
    }

    .service-content-wrapper span {
        margin-top: 0;
    }

    .our-team-section {
        margin-bottom: 50px;
    }

    .paralaxbg .overlay {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .blog-wrapper.first-blog img {
        margin-top: 0;
    }

    .seo-audit-section.get-in-touch-section {
        margin-top: 60px;
    }

    footer {
        padding: 40px 0;
    }

    .banner-text p br {
        display: none;
    }

    .pro-controls .filter {
        margin-left: 12px;
        margin-right: 12px;
    }

    .portfolio .m-t-0 {
        margin-top: 9px !important;
    }

    .featured-project-wrapper .protfolio-item {
        margin-bottom: 20px
    }

    .bottom-link-page.m-t-90 {
        margin-top: 26px !important;
    }

    .contact-us-section {
        margin-bottom: 60px;
    }

    .left-info-contact {
        text-align: center;
    }

    .contact-us-section  .r-m-t-5 {
        margin-top: 0;
    }

    .blog-details-content {
        margin-top: 53px;
    }

    .blog-details-content h1 {
        margin-bottom: 14px;
    }

    .author-section {
        margin-top: 60px;
    }

    .bottom-link-page .blog-det-page {
        margin-top: 0;
    }

    .author-section {
        padding: 37px 0 34px 0px;
    }

    .contact-us-section h3.r-m-t-0 {
        margin-top: 0;
    }

    .privacy-banners, .terms-conditions-banners {
        margin-bottom: 57px;
    }

    .privacy-terms-text p {
        margin-bottom: 31px;
    }

    .privacy-terms-text .last-p-child {
        margin-bottom: 0;
    }

    .section-title .title-bold, .seo-audit-title h3 {
        font-size: 20px !important;
    }

    .single-blog h4 a {
        font-size: 16px;
    }

    .service-content-wrapper h4 {
        font-size: 16px;
    }

    .green-box-wrapper h5 {
        font-size: 15px;
    }

    .our-team-section h3 {
        font-size: 20px;
    }

    .service-content-wrapper p {
        font-size: 13px;
    }

    .date-wrapper {
        bottom: 31px;
    }

    .carousel-caption p {
        margin-bottom: 0;
    }

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width:991px) {
    .navbar-light .navbar-brand {
        padding-left: 15px !important;
    }

    .navbar {
        min-height: 70px;
    }

    .navbar-nav {
        float: none;
    }

    .inner-banner-wrapper {
        padding-top: 111px;
    }

    .navbar-light .navbar-toggler {
        margin-top: 2px;
    }

    header .top-navbar .navbar-nav > li > a.btn {
        margin-left: 15px;
    }

    .line-vrt:before, .line-vrt:after {
        display: none;
    }

    .line-vrt {
        margin-top: 30px;
    }

    .service-details-container {
        padding-left: 0;
    }

    .service-left-img-wrapper img {
        position: static;
        max-width: 90%;
    }

    .start-project, .service-details-content {
        text-align: center;
    }

    .service-details-content ul {
        text-align: left;
        max-width: 300px;
        margin: 30px auto;
    }

    .service-left-img-wrapper {
        text-align: center;
        margin-top: 30px;
    }

    .service-details-container:hover img {
        transform: scale(1);
    }

    .modal-dialog {
        padding: 0 15px;
    }

    .protfolio-modal .modal-dialog .container {
        max-width: 100%;
        padding: 0;
    }

    .protfolio-modal .modal-dialog .modal-body {
        padding-left: 10px;
    }

    header nav.top-navbar {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    }

}

@media (max-width:1024px) {
    .carousel-control-next, .carousel-control-prev {
        width: 4%;
    }

    .section-title .title-bold {
        font-size: 25px;
    }

}

/*Large devices (desktops, gater than 1400px)*/
@media (min-width:1399px) {
    .green-box-content {
        max-width: 400px;
        margin: 0 auto;
    }

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width:1199px) {
}